{% extends "base.html" %}
{% block head %}
{{ super() }}
<!-- Basic SEO Meta Tags -->
<meta name="description" content="{{ article.summary|striptags|escape }}">
<meta name="keywords" content="{% if article.tags %}{% for tag in article.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}">
<meta name="author" content="{{ article.author }}">
<meta name="publish_date" content="{{ article.date.strftime('%Y-%m-%d') }}">
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:description" content="{{ article.summary|striptags|escape }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:site_name" content="{{ SITENAME }}" />
<meta property="article:author" content="{{ article.author }}" />
<meta property="article:published_time" content="{{ article.date.isoformat() }}" />
<meta property="article:section" content="{{ article.category }}" />
{% if article.tags %}
{% for tag in article.tags %}
<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endif %}
{% if article.modified %}
<meta property="article:modified_time" content="{{ article.modified.isoformat() }}" />
{% endif %}
{% endblock head %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<h2>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
</h2>

<div>
    <b>By: </b><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a><b>    On: </b>{{ article.locale_date }}<br />
    <b>In: </b><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark" title="Permalink to {{ article.category|striptags }}">{{ article.category }}</a><br />
    <em><b>Tags: </b>
        {% if article.tags %}
            {% for tag in article.tags %}
                <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }} </a></span>
            {% endfor %}
        {% endif %}
    </em>
    <hr>
</div>

<div>
    <mainarticle>
    {{ article.content }}
    </mainarticle>
</div>
<br>
<hr>
<div>
    <h3>More from {{ article.category }}</h3>
    {% set recent_articles = articles|selectattr('category', 'equalto', article.category)|rejectattr('slug', 'equalto', article.slug)|list %}
    {% if recent_articles %}
        <ul>
            {% for related_article in recent_articles[:3] %}
                <li>
                    <a href="{{ SITEURL }}/{{ related_article.url }}" title="{{ related_article.title }}">{{ related_article.title }}</a>
                    <small> - {{ related_article.locale_date }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>No other articles in this category yet.</i></p>
    {% endif %}
</div>
<hr>
        
{% endblock %}
